*~*
*#*

*.log
*.py[cod]
__pycache__

*.db
*.sqlite3
.vscode

/front-end/bower_components/
/front-end/node_modules/

/env
/env-*
/back-end/env-*

/back-end/static
/back-end/media
/back-end/fixtures/users.*
/back-end/settings/local.py
/back-end/nginx.conf
/back-end/supervisor.conf
/back-end/uwsgi.ini
