:root {
    --block-vertical-gap: 40px;

    --grid-colump-gap: 20px;
    --grid-row-gap: 0;
    --grid-width: 100%;

    --c-base: rgba(0, 0, 0, .8);

    --c-anchor: rgb(0, 120, 228);
    --c-anchor-u: rgba(0, 120, 228, .4);
    --c-anchor-h: rgb(228, 61, 0);
    --c-anchor-u-h: rgba(228, 61, 0, .4);

    --c-white-anchor: rgba(255, 255, 255, 1);
    --c-white-anchor-u: rgba(255, 255, 255, .4);
    --c-white-anchor-h: rgba(255, 255, 255, 1);
    --c-white-anchor-u-h: rgba(255, 255, 255, .7);

    --c-base-anchor: var(--c-base);
    --c-base-anchor-u: rgba(0, 0, 0, .3);
    --c-base-anchor-h: var(--c-anchor-h);
    --c-base-anchor-u-h: var(--c-anchor-u-h);

    --font-size-base: 18px;

    --font-base: "PT Sans", "Lucida Sans", Tahoma, sans-serif;
    --font-alter: "Trebuchet MS", "Lucida Grande",
        "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

    --c-button: var(--c-anchor);
    --c-button-h: var(--c-anchor-h);

/*    --bg-light: rgb(247, 246, 241);*/
    --bg-light: rgb(250, 247, 246);
    --bg-dark: rgb(40, 42, 55);

    --color-1: rgb(245, 115, 40);
    --color-2: rgb(175, 81, 110);
    --color-3: rgb(108, 44, 145);

    --color-time: rgba(0, 0, 0, .6);

    --gradient: linear-gradient(
        90deg,
        var(--color-1) 10%,
        var(--color-2) 90%
    );
    --gradient-light: linear-gradient(
        90deg,
        var(--color-1),
        var(--color-2)
    );

    --radius: 3px;

    --anim-function: cubic-bezier(0.19, 1, 0.22, 1);
    --anim-out__time: 20ms;
    --anim-in__time: 20ms;

/*
1vw = 1% of viewport width
1vh = 1% of viewport height
1vmin = 1vw or 1vh, whichever is smaller
1vmax = 1vw or 1vh, whichever is larger
*/

}

/**
 *    Базовые стили
 */
body {
    width: 100%; height: 100%;
    overflow-y: scroll;

    background-color: var(--bg-light);

    font-family: var(--font-base);
    font-size: var(--font-size-base);
    line-height: 1.5;

    color: var(--c-base);
}

a,
a > em{
    text-decoration: none;
    transition: all var(--anim-out__time) var(--anim-function);
/*    transition-property: color, border-bottom-color, background-color;*/
}
/*
a:hover,
a:hover > em{
    transition: all var(--anim-in__time) var(--anim-function);
    transition-property: color, border-bottom-color, background-color;
}
*/
a.pressed{opacity:.6;
    transition:
        opacity .1s var(--anim-function),
        color .1s var(--anim-function)
}
a > svg,
svg{transition: fill var(--anim-out__time) var(--anim-function)}
.hover > svg,
:hover > svg,
svg.hover,
svg:hover{transition: fill var(--anim-in__time) var(--anim-function)}

textarea{resize: vertical; outline:none}
.nobr{white-space: nowrap}

/**
 *  Разметка страницы
 */
.page{width: 100%; height: 100%; min-height: 100vh}
.page__row{width: 100%;
    transition: background-color 300ms var(--anim-function)}

.page__width{
    width: 1248px;
    max-width: 1400px;
    min-height: 1px;
    margin: 0 auto;
    padding: 0 calc(var(--grid-colump-gap) / 2)
}

@media (min-width: 1312px) {
    .page__width{
        width: 100%;
        padding: 0 34px;
    }
}

.page,
.page__row,
.page__width{position: relative}
.page__width:after {display: table; clear: both; content: ''}


/*
.page__padding{padding: 0 100px}
.layout-lead-0{height: 1px; margin-top: -1px}
*/

[grid]{display: block; width: calc(var(--grid-width) + var(--grid-colump-gap));
    margin: 0 calc(var(--grid-colump-gap) / -2)}
[col]{display: inline-block; vertical-align: top;
    min-height: 1px; padding: 0 calc(var(--grid-colump-gap) / 2)}

[grid='12'] [col='1']{width: calc(var(--grid-width) / 12)}
[grid='12'] [col='2']{width: calc(var(--grid-width) / 12 * 2)}
[grid='12'] [col='3']{width: calc(var(--grid-width) / 12 * 3)}
[grid='12'] [col='4']{width: calc(var(--grid-width) / 12 * 4)}
[grid='12'] [col='5']{width: calc(var(--grid-width) / 12 * 5)}
[grid='12'] [col='6']{width: calc(var(--grid-width) / 12 * 6)}
[grid='12'] [col='7']{width: calc(var(--grid-width) / 12 * 7)}
[grid='12'] [col='8']{width: calc(var(--grid-width) / 12 * 8)}
[grid='12'] [col='9']{width: calc(var(--grid-width) / 12 * 9)}
[grid='12'] [col='10']{width: calc(var(--grid-width) / 12 * 10)}
[grid='12'] [col='11']{width: calc(var(--grid-width) / 12 * 11)}
[grid='12'] [col='12']{width: calc(var(--grid-width))}

[grid='12'] [margin='1']{margin-left: calc(var(--grid-width) / 12)}
[grid='12'] [margin='2']{margin-left: calc(var(--grid-width) / 12 * 2)}
[grid='12'] [margin='3']{margin-left: calc(var(--grid-width) / 12 * 3)}
[grid='12'] [margin='4']{margin-left: calc(var(--grid-width) / 12 * 4)}
[grid='12'] [margin='5']{margin-left: calc(var(--grid-width) / 12 * 5)}
[grid='12'] [margin='6']{margin-left: calc(var(--grid-width) / 12 * 6)}
[grid='12'] [margin='7']{margin-left: calc(var(--grid-width) / 12 * 7)}
[grid='12'] [margin='8']{margin-left: calc(var(--grid-width) / 12 * 8)}
[grid='12'] [margin='9']{margin-left: calc(var(--grid-width) / 12 * 9)}
[grid='12'] [margin='10']{margin-left: calc(var(--grid-width) / 12 * 10)}
[grid='12'] [margin='11']{margin-left: calc(var(--grid-width) / 12 * 11)}



/* Якоря */
@define-mixin anchor-root $elem {
    $(elem){
        border-bottom-width: 1px; border-bottom-style: solid;
        @mixin-content;
    }
}

@define-mixin anchor $elem {
    @mixin anchor-root $elem {
        border-bottom-color: var(--c-anchor-u); color: var(--c-anchor);
        @mixin-content;
    }
    $(elem):hover,
    $(elem).hover{
        border-bottom-color: var(--c-anchor-u-h); color: var(--c-anchor-h);
    }
}

@define-mixin anchor-white $elem {
    @mixin anchor-root $elem {
        border-bottom-color: var(--c-white-anchor-u);
        color: var(--c-white-anchor);
        @mixin-content;
    }
    $(elem):hover,
    $(elem).hover{
        border-bottom-color: var(--c-white-anchor-u-h);
        color: var(--c-white-anchor-h);
    }
}

@define-mixin anchor-base $elem {
    @mixin anchor-root $elem {
        border-bottom-color: var(--c-base-anchor-u);
        color: var(--c-base-anchor);
        @mixin-content;
    }
    $(elem):hover,
    $(elem).hover{
        border-bottom-color: var(--c-base-anchor-u-h);
        color: var(--c-base-anchor-h);
    }
}

/* Якоря внутренние */
@define-mixin anchor-em $elem {
    $(elem){
        color: var(--c-anchor);
        @mixin-content;
    }
    $(elem):hover,
    $(elem).hover{
        color: var(--c-anchor-h);
    }
    @mixin anchor-root $elem em{
        border-bottom-color: var(--c-anchor-u);
    }
    $(elem):hover em,
    $(elem).hover em{
        border-bottom-color: var(--c-anchor-u-h);
/*        background: red;*/
    }
}


@define-mixin anchor-white-em $elem {
    $(elem){
        color: var(--c-white-anchor);
        @mixin-content;
    }
    $(elem):hover,
    $(elem).hover{
        color: var(--c-white-anchor-h)
    }
    @mixin anchor-root $elem em{
        border-bottom-color: var(--c-white-anchor-u);
    }
    $(elem):hover em,
    $(elem).hover em{
        border-bottom-color: var(--c-white-anchor-u-h);
    }
}


@define-mixin anchor-dark-theme-em $elem {
    .dark-theme $(elem){
        color: rgb(254, 231, 196);
        @mixin-content;
    }
    .dark-theme $(elem):hover,
    .dark-theme $(elem).hover{
        color: rgb(255, 244, 227);
    }
    @mixin anchor-root .dark-theme $elem em{
        border-bottom-color: rgba(254, 231, 196, .2);
    }
    .dark-theme $(elem):hover em,
    .dark-theme $(elem).hover em{
        border-bottom-color: rgba(255, 244, 227, .3);
    }
}



/* Заголовки */
@define-mixin header-base $elem {
    $(elem){
        display: block; margin: 1.2em 0 .45em 0; font-weight: bold;
        @mixin-content;
    }
    $(elem):first-child{margin-top: 0}
}

@define-mixin header $elem {
    @mixin header-base $elem{
        font-size: 36px; line-height: 1.3;
        font-family: var(--font-alter);
        @mixin-content;
    }
}

@define-mixin header-1 $elem {
    @mixin header-base $elem{
        font-size: 26px;
        font-family: var(--font-alter);
        @mixin-content;
    }
}

@define-mixin header-2 $elem {
    @mixin header-base $elem{
        font-size: 20px;
        @mixin-content;
    }
}

@define-mixin header-3 $elem {
    @mixin header-base $elem{
        @mixin-content;
    }
}


/* Абзац */
@define-mixin paragraph $elem {
    $(elem){
        max-width: 45em; margin-bottom: 1em; font-size: var(--font-size-base);
        @mixin-content;
    }
    $(elem) + ul,
    $(elem) + ol{margin-top: -.7em}
}


/* Списки */
@define-mixin unordered-list $elem {
    $(elem){
        margin: 0 0 .7em 2em; list-style-position: outside;
        font-size: var(--font-size-base);
        @mixin-content;
    }
    $(elem) > li{
        position: relative; margin-bottom: .3em;
        @mixin-content;
    }
    $(elem) > li:before{
        position: absolute; right: 100%; top: 0;
        content: '— '; color: var(--color-1);
        @mixin-content;
    }
}

@define-mixin ordered-list $elem {
    $(elem){
        margin: 0 0 .7em 2em; list-style-position: outside;
        @mixin-content;
    }
    $(elem) > li{
        position: relative; margin-bottom: .3em;
        @mixin-content;
    }
    $(elem) > li:before{
        position: absolute; right: 100%; top: 0;
        content: "— "; color: var(--color-1);
        @mixin-content;
    }
}

/*

.*** ol{counter-reset: i}
.*** ol > li:before{position: absolute; right: 100%; top: 0;
    display: inline-block; width: 2.5em;
    text-align: right; counter-increment: i; content: counter(i) '. '}
.*** ol > li > ol{margin-left: 2.2em; counter-reset: i2}
.*** ol > li > ol > li:before{width: 3em; margin-left: -3.5em; counter-increment: i2;
    content: counter(i) '.' counter(i2) '. '}
*/



/* Цитата */
@define-mixin blockquote $elem {
    $(elem){
        margin-bottom: 1.7em; padding-left: 2em;
        @mixin-content;
    }
}


/* FORMS */

@define-mixin button $elem {
    $(elem){
        box-sizing: border-box; line-height: 1.3; padding: .3em 1.1em;
        background-color: rgba(255, 255, 255, .3);
        border: 1px solid var(--c-button); border-radius: 4px;
        color: var(--c-button);
        transition:
            color var(--anim-out__time) ease,
            border-color var(--anim-out__time) ease,
            background-color var(--anim-out__time) ease
        @mixin-content;
    }

    $(elem):hover,
    $(elem).hover{
        background-color: rgba(255, 255, 255, .6);
        border-color: var(--c-button-h);
        color: var(--c-button-h);
        transition:
            color var(--anim-in__time) ease,
            border-color var(--anim-in__time) ease,
            background-color var(--anim-in__time) ease}
}

/*
.f-row{margin-bottom: .8em}
.f-label{font-size: 14px}
.f-field{width: 100%; box-sizing: border-box; border: none;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .3)}
.f-field:not(:read-only):focus{outline: none;
    border-bottom-color: rgba(0, 0, 0, .6)}
.f-field:read-only{
    background-color: transparent;
    border-bottom-color: rgba(0, 0, 0, 0)}
textarea.f-field{resize: vertical}
textarea.f-field:read-only{resize: none}

.f-select{width: 100%}
*/

/* */
.page__width{}

.page__row.dark-theme{
    background-color: var(--bg-dark);
    color: white;
}
.page__row.white{
    background-color: white;
}

.page__lining{margin-bottom: 50px; padding: 18px 28px;
    background-color: var(--bg-light)}

@mixin header .page__header{}
.page__header.center{
    text-align: center; margin-bottom: 1em}

@mixin anchor .page__header a{}


.tenants-page{}
@mixin header .tenants-page__header{
    text-align: center; margin-bottom: 1em}

.tenants-page__tab-anchors{}
.tenants-page__tab-anchor{
    display: inline-block; margin-right: .8em;}
.tenants-page__tab-anchor:last-child{margin-right: 0}
@mixin anchor .tenants-page__tab-anchor a{
    cursor: pointer}

.tenants-page__tab-anchor.current{}

/* */
.layout__entity__content{
    min-width: calc(300px*3 + 7px*2 + var(--grid-colump-gap))
}
.layout__entity__sidebar{
    max-width: calc(100% - (300px*3 + 7px*2 + var(--grid-colump-gap)))
}

/* Основное */
.common-article{margin-bottom: var(--block-vertical-gap)}

@mixin anchor .common-article a{}

@mixin header .common-article header{}
@mixin header-1 .common-article h1{}
@mixin header-2 .common-article h2{}
@mixin header-3 .common-article h3{}

@mixin paragraph .common-article p{}

.common-article em,
.common-article i{font-style: italic}

.common-article strong,
.common-article b{font-weight: bold}

.common-article del,
.common-article s{text-decoration: line-through}

.common-article pre,
.common-article code{font-family: 'PT Mono', monospace; font-size: .8em}

@mixin unordered-list .common-article ul{}
@mixin ordered-list .common-article ol{}


@mixin blockquote .common-article blockquote{}

/* Медиа-вставки */


/* Таблицы */


/*
.common-article > header > .common-article__meta{margin-bottom: 20px}

@mixin meta .common-article__meta{}
@mixin colored-links .common-article__content>p{}

.common-article__annotation > p{
    margin-bottom: 1.7em; font-style: italic; color: var(--c-gray)}

@define-mixin article-images $elem{
    $(elem) img {display: block; max-width: 100%; margin-top: 1em}
    $(elem) figure{margin-bottom: 1em}
    $(elem) figure > img{margin-bottom: .5em}
    $(elem) figcaption{margin-bottom: 1em; font-style: italic; color: var(--c-gray)}
    $(elem) figcaption > p{margin-bottom: .4em}
}

.common-article__cover{margin-bottom: 2em}

@mixin article-images .common-article__cover{}
@mixin article-images .common-article__content{}


.common-article__content p,
.common-article__meta p{margin-bottom: 1em}
.common-article__content p.note{font-size: 14px; font-style: italic}


.common-article__table{margin-bottom: 1.2em}
.common-article__table > caption{margin-bottom: .166em; font-style: italic}

.common-article__table tr{}
.common-article__table th,
.common-article__table td{position: relative; padding: .28em 1.67em .28em 0}
.common-article__table th{font-weight: bold}

.common-article__table > thead{font-size: .89em; font-weight: bold}
.common-article__table > thead > tr{border-bottom: 1px solid var(--c-text)}
.common-article__table > tfoot > tr{border-top: 1px solid  var(--c-text)}
.common-article__table > thead > tr > td{padding: 0 1.875em .25em 0}

.common-article__table > thead.center td,
.common-article__table > tbody.center td,
.common-article__table > tfoot.center td{text-align: center}
.common-article__table > thead.right td,
.common-article__table > tbody.right td,
.common-article__table > tfoot.right td{text-align: right}

.common-article__table.stripy > tbody > tr.odd,
.common-article__table.stripy > tbody > tr:nth-child(odd){background-color: rgba(0, 0, 0, .04)}

.common-article__table.stripy > tbody > tr.odd > td:first-child:before,
.common-article__table.stripy > tbody > tr.odd > th:first-child:before,
.common-article__table.stripy > tbody > tr:nth-child(odd) > td:first-child:before,
.common-article__table.stripy > tbody > tr:nth-child(odd) > th:first-child:before{
    display: block; width: .67em; height: 100%; position: absolute; left: -.67em; top: 0;
    background-color: rgba(0, 0, 0, .04); content: ""}

.common-article__wide-table{position: relative; margin-bottom: 1.2em; padding: 20px;
    background-color: rgb(245, 241, 219)}
.common-article__wide-table__wrapper{max-width: 100%;
    overflow: hidden; margin-right: auto}
.common-article__wide-table .common-article__table{overflow: visible}

.common-article__wide-table th{position: absolute; left: 20px; z-index: 1;
    padding-left: 0; padding-right: 10px; white-space: nowrap;
    -moz-box-sizing: border-box; box-sizing: border-box}

.common-article__wide-table__wrapper:before,
.common-article__wide-table__lining:before{display: block; width: 35px; height: 100%;
    position: absolute; top: 0; content: ""; z-index: 4; opacity: 0;
    transition: opacity var(--anim-out__time) ease}
.common-article__wide-table__wrapper:before{right: 20px; top: 0;
    background-image: linear-gradient(90deg, rgba(245, 241, 219, 0), rgb(245, 241, 219))}
.common-article__wide-table__lining:before{left: 100%; top: 0;
    background-image: linear-gradient(-90deg, rgba(245, 241, 219, 0), rgb(245, 241, 219))}

.common-article__wide-table__wrapper.right:before,
.left > .common-article__wide-table__lining:before{opacity: 1}


.common-article__wide-table__lining{height: 100%; position: absolute; left: 20px; top: 0;
    background-color: rgb(245, 241, 219); z-index: 0}
.common-article__wide-table__scroll-bar{width: auto; height: 0; position: relative; z-index: 5;
    margin-bottom: 30px;
    border-top: 1px solid rgb(207, 152, 109); border-bottom: 1px solid rgb(239, 175, 126)}
.common-article__wide-table__scroll-bar__thumb{width: 0; height: 37px}
.common-article__wide-table__scroll-bar__thumb:after{width: 26px; height: 37px; position: absolute;
    left: -13px; top: 0; content: ""}

.common-article__content dl.faq{margin-bottom: 1.2em}
.common-article__content dl.faq > dt,
.common-article__content dl.faq > dd{position: relative; margin-left: 2em}
.common-article__content dl.faq > dt:before,
.common-article__content dl.faq > dd:before{position: absolute; right: 100%; top: 0; content: "— "}
.common-article__content dl.faq > dd + dd:before{display: none}
.common-article__content dl.faq > dt{font-weight: bold}
.common-article__content dl.faq > dd{margin-bottom: .6em}

.common-article__content dl.faq-for-block{margin-bottom: 1.2em}
.common-article__content dl.faq-for-block > dt,
.common-article__content dl.faq-for-block > dd{}
.common-article__content dl.faq-for-block > dt:before,
.common-article__content dl.faq-for-block > dd:before{content: "— "}
.common-article__content dl.faq-for-block > dd + dd:before{display: none}
.common-article__content dl.faq-for-block > dt{font-weight: bold}
.common-article__content dl.faq-for-block > dd{margin-bottom: .6em}

*/


/*
textarea.def{width: 80%; height: 300px;
    font-family: PT Mono, monospace; font-size: 12px}
*/

